force-app/main/default/flows/NZC_CSV_Uploader_SAEUs.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>actionCountSAEURecords</name>
        <label>actionCountSAEURecords</label>
        <locationX>176</locationX>
        <locationY>866</locationY>
        <actionName>NZC_CountRecordsAndFields</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Create_SAEUs</targetReference>
        </connector>
        <dataTypeMappings>
            <typeName>T__inputCollection</typeName>
            <typeValue>StnryAssetEnrgyUse</typeValue>
        </dataTypeMappings>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>fieldName</name>
            <value>
                <stringValue>StnryAssetEnvrSrcId</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>fieldValue</name>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>inputCollection</name>
            <value>
                <elementReference>generatedSAEUswithSAESId</elementReference>
            </value>
        </inputParameters>
        <nameSegment>NZC_CountRecordsAndFields</nameSegment>
        <outputParameters>
            <assignToReference>totalNumberSAEUsInserted</assignToReference>
            <name>totalNumber</name>
        </outputParameters>
    </actionCalls>
    <actionCalls>
        <name>CSV_SAEU_Convert</name>
        <label>CSV SAEU Convert</label>
        <locationX>176</locationX>
        <locationY>350</locationY>
        <actionName>NZC_ConvertCSVToRecords</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>ForAllSAEURecords</targetReference>
        </connector>
        <dataTypeMappings>
            <typeName>U__convertedCSVRows</typeName>
            <typeValue>StnryAssetEnrgyUse</typeValue>
        </dataTypeMappings>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>contentDocumentIdList</name>
            <value>
                <elementReference>uploadedContentIDs</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>DSep</name>
            <value>
                <stringValue>.</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>FSep</name>
            <value>
                <stringValue>,</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>objectApiName</name>
            <value>
                <stringValue>StnryAssetEnrgyUse</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>TSep</name>
            <value>
                <stringValue>,</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>vCur</name>
            <value>
                <stringValue>$</stringValue>
            </value>
        </inputParameters>
        <nameSegment>NZC_ConvertCSVToRecords</nameSegment>
        <outputParameters>
            <assignToReference>generatedStnryAssetEnergyUses</assignToReference>
            <name>convertedCSVRows</name>
        </outputParameters>
    </actionCalls>
    <apiVersion>55.0</apiVersion>
    <assignments>
        <name>AddTogeneratedSAEUSwithID</name>
        <label>AddTogeneratedSAEUSwithID</label>
        <locationX>264</locationX>
        <locationY>674</locationY>
        <assignmentItems>
            <assignToReference>generatedSAEUswithSAESId</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>ForAllSAEURecords</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>ForAllSAEURecords</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>SetSAESrcID</name>
        <label>SetSAESrcID</label>
        <locationX>264</locationX>
        <locationY>566</locationY>
        <assignmentItems>
            <assignToReference>ForAllSAEURecords.StnryAssetEnvrSrcId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ForAllSAEURecords.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>formulaSAEUName</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>AddTogeneratedSAEUSwithID</targetReference>
        </connector>
    </assignments>
    <environments>Default</environments>
    <formulas>
        <description>Dynamically create a unique name for SAEU names</description>
        <name>formulaSAEUName</name>
        <dataType>String</dataType>
        <expression>{!ForAllSAEURecords.StnryAssetEnvrSrc.Name} + &quot;-&quot; + TEXT({!ForAllSAEURecords.FuelType}) + &quot;-&quot;+CASE(MONTH( {!ForAllSAEURecords.StartDate}),1,&quot;Jan&quot;,2,&quot;Feb&quot;,3, &quot;Mar&quot;,4, &quot;Apr&quot;,5, &quot;May&quot;,6, &quot;Jun&quot;,7, &quot;Jul&quot;,8, &quot;Aug&quot;,9,&quot;Sep&quot;,10, &quot;Oct&quot;,11,&quot;Nov&quot;,&quot;Dec&quot;)+ &quot;-&quot; + TEXT(YEAR({!ForAllSAEURecords.StartDate}))</expression>
    </formulas>
    <interviewLabel>CSV Uploader SAEUs {!$Flow.CurrentDateTime}</interviewLabel>
    <label>CSV Uploader SAEUs</label>
    <loops>
        <name>ForAllSAEURecords</name>
        <label>ForAllSAEURecords</label>
        <locationX>176</locationX>
        <locationY>458</locationY>
        <collectionReference>generatedStnryAssetEnergyUses</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>SetSAESrcID</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>actionCountSAEURecords</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_SAEUs</name>
        <label>Create SAEUs</label>
        <locationX>176</locationX>
        <locationY>974</locationY>
        <connector>
            <targetReference>screenConfirmation</targetReference>
        </connector>
        <inputReference>generatedSAEUswithSAESId</inputReference>
    </recordCreates>
    <recordLookups>
        <name>Get_Current_SAES</name>
        <label>Get Current SAES</label>
        <locationX>176</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>screenUpload</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>StnryAssetEnvrSrc</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <runInMode>DefaultMode</runInMode>
    <screens>
        <name>screenConfirmation</name>
        <label>screenConfirmation</label>
        <locationX>176</locationX>
        <locationY>1082</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>screenConfirmation_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>screenConfirmation_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>imgGreenthumb</name>
                    <extensionName>flowruntime:image</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>imageName</name>
                        <value>
                            <stringValue>greenthumb</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>horizontalAlignment</name>
                        <value>
                            <stringValue>center</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>imageHeight</name>
                        <value>
                            <stringValue>90</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>imageWidth</name>
                        <value>
                            <stringValue>90</stringValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>screenConfirmation_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>txtConfirmation</name>
                    <fieldText>&lt;p&gt;The following files were uploaded to the &lt;strong&gt;{!Get_Current_SAES.Name}&lt;/strong&gt; Stationary Asset:&lt;/p&gt;&lt;p&gt;&lt;em&gt;{!uploadedFileNames}&lt;/em&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;background-color: rgb(255, 255, 255);&quot;&gt;{!totalNumberSAEUsInserted}&lt;/strong&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255);&quot;&gt; &lt;/span&gt;Stationary Asset Energy Use record(s) were created from the uploaded CSV file.&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>screenUpload</name>
        <label>screenUpload</label>
        <locationX>176</locationX>
        <locationY>242</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>CSV_SAEU_Convert</targetReference>
        </connector>
        <fields>
            <name>screenUpload_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>screenUpload_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>txtDispltemplate</name>
                    <fieldText>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255);&quot;&gt;For a CSV template (US date format), with the minimum required fields, please download this &lt;/span&gt;&lt;a href=&quot;https://docs.google.com/spreadsheets/d/1m1O7e6GlJbSSe0jjGuzd_UoKKuuwZ8zQiorVGQgljSw/edit?usp=sharing&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot; style=&quot;background-color: rgb(255, 255, 255);&quot;&gt;file&lt;/a&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>screenUpload_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>txtUploadTips</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;font-size: 14px;&quot;&gt;&lt;u&gt;Tips&lt;/u&gt;&lt;/strong&gt;&lt;/p&gt;&lt;ul&gt;&lt;li&gt;Column names are not restricted to the template but &lt;strong&gt;&lt;em&gt;must&lt;/em&gt;&lt;/strong&gt; match the api names of the fields.&lt;/li&gt;&lt;li&gt;Date format must match your locale.&lt;/li&gt;&lt;/ul&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>fileUploadImproved</name>
            <extensionName>c:fileUploadImproved</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>sessionKey</name>
                <value>
                    <stringValue>{!$Flow.InterviewGuid}1</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>acceptedFormats</name>
                <value>
                    <stringValue>.csv</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>allowMultiple</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Upload CSV files</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>recordId</name>
                <value>
                    <elementReference>recordId</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>required</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>requiredMessage</name>
                <value>
                    <stringValue>You must select at least one csv file to upload</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>renderExistingFiles</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>uploadedlabel</name>
                <value>
                    <stringValue>CSV Files to be converted:</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>uploadedContentIDs</assignToReference>
                <name>contentDocumentIds</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>uploadedFileNames</assignToReference>
                <name>uploadedFileNames</name>
            </outputParameters>
        </fields>
        <nextOrFinishButtonLabel>Continue</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Current_SAES</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>generatedSAEUswithSAESId</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>StnryAssetEnrgyUse</objectType>
    </variables>
    <variables>
        <name>generatedStnryAssetEnergyUses</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>StnryAssetEnrgyUse</objectType>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>totalNumberSAEUsInserted</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>uploadedContentIDs</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>uploadedFileNames</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
